# Question 1


Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

# Executing the function b three times
b()
b()
b()

# Displaying the value of 'a' after executing the functions
a

6

Execution Steps:

b(): When b is called, it takes the global variable a (which is initially 0), passes it to function c(a) (so c(0) is called), and the result is 0 + 2, which updates the global variable a to 2.

b(): When b is called again, it takes the updated global variable a (which is now 2), passes it to c(a) (so c(2) is called), and the result is 2 + 2, which updates the global variable a to 4.

b(): Once more, b is called, it takes the updated global variable a (which is 4), passes it to c(a) (so c(4) is called), and the result is 4 + 2, which updates the global variable a to 6.

Now, when we evaluate the last expression (a), it will return the current value of the global variable a, which is 6. So, the value displayed when a is evaluated is 6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [48]:
def fileLength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        return f"File {filename} not found."

#Testing the  function
print(fileLength('midterm.py'))  # Existing file
print(fileLength('idterm.py'))    # Non-existing file

File midterm.py not found.
File idterm.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Create a Kangaroo object at (0,0)
k = Kangaroo(0, 0)
print(k)

# Put items in the pouch
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

# Make the Kangaroo jump
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops
    >>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [4]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

# Testing the function
collatz(1)
print()  
collatz(10)

1

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [5]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

# Testing the binary() function
binary(0)
print() 
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [8]:
# from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.inside_heading = False
        self.heading_level = 0
        self.headings = []

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and len(tag) == 2 and tag[1].isdigit():
            self.inside_heading = True
            self.heading_level = int(tag[1])

    def handle_data(self, data):
        if self.inside_heading:
            indentation = " " * self.heading_level
            self.headings.append(f"{indentation}{data}")

    def handle_endtag(self, tag):
        if self.inside_heading:
            self.inside_heading = False

    def get_headings(self):
        return self.headings

if __name__ == '__main__':
    with open(r'C:\Users\rokad\Desktop\w3c.txt', 'r', encoding='utf-8') as infile:
        content = infile.read()

    hp = HeadingParser()
    hp.feed(content)

    headings = hp.get_headings()
    for heading in headings:
        print(heading)

 W3C Mission
  Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [50]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url):
        super().__init__()
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(urljoin(self.url, attr[1]))

    def getLinks(self):
        return self.links

def webdir(url, depth, indent=0):
    if depth < 0:
        return

    print(' ' * indent + url)

    try:
        content = urlopen(url).read().decode('utf-8')
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()
    except Exception as e:
        print(f"Error opening {url}: {e}")
        return

    for link in links:
        webdir(link, depth - 1, indent + 1)

# Usage example
initial_url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
webdir(initial_url, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error opening http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404:

# Question 8

Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature(C) Rainfall(mm)
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/4d/81/316b6a55a0d1f327d04cc7b0ba9d04058cb62de6c3a4d4b0df280cbe3b0b/prettytable-3.9.0-py3-none-any.whl.metadata
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\rokad\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/04/88/39f1f5570eb1d28704b4954c97ee91c3b5604f2949ab8ed40b33c90aaad9/SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata (9.7 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\rokad\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\rokad\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\rokad\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rokad\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\rokad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\rokad\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\rokad\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\rokad\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\rokad\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\rokad\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------- -------------------------------- 0.4/2.1 MB 8.5 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 14.9 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 16.3 MB/s eta 0:00:00
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.22 sqlparse-0.4.4

In [36]:
import sqlite3

# Create a connection to the SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect("WeatherDatabase.db")

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create a table to store the weather data
cursor.execute('''
    CREATE TABLE WeatherData0 (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        City TEXT,
        Country TEXT,
        Season TEXT,
        TemperatureC REAL,
        RainfallMM REAL
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [37]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect("WeatherDatabase.db")

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Sample data to insert into the table
sample_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

# Insert data into the table
for data in sample_data:
    cursor.execute("INSERT INTO WeatherData0 (City, Country, Season, TemperatureC, RainfallMM) VALUES (?, ?, ?, ?, ?)", data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [38]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect("WeatherDatabase.db")

# Create a cursor object to interact with the database
cursor = conn.cursor()

 a) All the temperature data

In [39]:
cursor.execute("SELECT TemperatureC FROM WeatherData0")
result_a = cursor.fetchall()
print("a) All the temperature data:")
for row in result_a:
    print(row)

a) All the temperature data:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

b) All the cities, but without repetition

In [40]:
cursor.execute("SELECT DISTINCT City FROM WeatherData0")
result_b = cursor.fetchall()
print("\nb) All the cities, but without repetition:")
for row in result_b:
    print(row[0])

b) All the cities, but without repetition:
Mumbai
London
Cairo

c) All the records for India

In [41]:
cursor.execute("SELECT * FROM WeatherData0 WHERE Country = 'India'")
result_c = cursor.fetchall()
print("\nc) All the records for India:")
for row in result_c:
    print(row)

c) All the records for India:
(1, 'Mumbai', 'India', 'Winter', 24.8, 5.9)
(2, 'Mumbai', 'India', 'Spring', 28.4, 16.2)
(3, 'Mumbai', 'India', 'Summer', 27.9, 1549.4)
(4, 'Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records

In [42]:
cursor.execute("SELECT * FROM WeatherData0 WHERE Season = 'Fall'")
result_d = cursor.fetchall()
print("\nd) All the Fall records:")
for row in result_d:
    print(row)

d) All the Fall records:
(4, 'Mumbai', 'India', 'Fall', 27.6, 346.0)
(8, 'London', 'United Kingdom', 'Fall', 10.4, 218.5)
(12, 'Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [43]:
cursor.execute("SELECT City, Country, Season FROM WeatherData0 GROUP BY City, Country, Season HAVING AVG(RainfallMM) BETWEEN 200 AND 400")
result_e = cursor.fetchall()
print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in result_e:
    print(row)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [44]:
cursor.execute("SELECT City, Country FROM WeatherData0 WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(TemperatureC) > 20 ORDER BY AVG(TemperatureC) ASC")
result_f = cursor.fetchall()
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
for row in result_f:
    print(row[0], row[1])

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
Cairo Egypt
Mumbai India

g) The total annual rainfall for Cairo

In [45]:
cursor.execute("SELECT SUM(RainfallMM) FROM WeatherData0 WHERE City = 'Cairo'")
result_g = cursor.fetchone()
print("\ng) The total annual rainfall for Cairo:")
print(result_g[0])

g) The total annual rainfall for Cairo:
27.6

h) The total rainfall for each season

In [47]:
cursor.execute("SELECT Season, SUM(RainfallMM) FROM WeatherData0 GROUP BY Season")
result_h = cursor.fetchall()
print("\nh) The total rainfall for each season:")
for row in result_h:
    print(row[0], row[1])
#Close the connection to the database
conn.close()

h) The total rainfall for each season:
Fall 569.0
Spring 192.29999999999998
Summer 1706.5
Winter 230.1

# Question 9

 Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

In [7]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
upper_words = [word.upper() for word in words]
print(upper_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

In [10]:
lower_words = [word.lower() for word in words]
print(lower_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

In [9]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

In [12]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [13]:
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['quick', 'brown', 'jumps', 'over', 'lazy']